{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% for item in items %}
    <a{{ attributes.addClass(classes, 'field--item btn btn-outline-primary m-3') }} href="{{ item.content['#url'].toString }}">Visit {{ item.content['#title'] }}</a>
  {% endfor %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% for item in items %}
      <div{{ item.attributes.addClass('field--item') }}>{{ item.content['#url'].toString }}</div>
    {% endfor %}
  </div>
{% endif %}