{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  <div{{ attributes.addClass(classes, 'field__items', 'row') }}>
    {% for item in items %}
      {{ item.content }}
    {% endfor %}
  </div>
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
      <table class='field__items table mx-sm-4 mt-sm-2'>
        <thead>
          <tr>
            <th>
              {{ items[0].content['#paragraph'].field_assessment_cert_type.fieldDefinition.label }}
            </th>
            <th>
              {{ items[0].content['#paragraph'].field_issue_date.fieldDefinition.label }}
            </th>
            <th>
              {{ items[0].content['#paragraph'].field_due_date.fieldDefinition.label }}
            </th>
          </tr>
        </thead>
    <tbody>
      {% for item in items %}
        {{ item.content }}
      {% endfor %}
    </tbody>
    </table>
  </div>
{% endif %}
